# Saving Data From the BLS Public API to a CSV file

Getting data from the BLS Website using the Public API with Python is easy. It is somewhat harder to save the data into an easy to use format so that we can re-use it later. This short notebook shows one way to this, by saving the data as a csv file.

#### Import some packages

In [1]:
import requests
import json
import pandas as pd
import csv

#### Set up the API request
Here I am using the same example as the BLS provide on their website:
    https://www.bls.gov/developers/api_python.htm
        
I found their pretty-table export to be slightly annoying, particularly when importing quickly and easily into pandas

In [2]:
#header for the API
headers = {'Content-type': 'application/json'}
# list of data sets we want to get, with dates
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'], "startyear":"2011", "endyear":"2014"})

# go and get the data and load it as a json file
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

#### Getting the data into csv format

In [3]:
fields=["series_id","year","period","value","footnotes"]

for series in json_data['Results']['series']:
    
    seriesID = series['seriesID']
    outfile = 'data/' + seriesID + '.csv'
    
    with open(outfile, 'w') as iFile:
        writer = csv.writer(iFile)
        writer.writerow(fields)
        
        for item in series['data']:
            year = item['year']
            period = item['period']
            value = item['value']
            footnotes=""
            for footnote in item['footnotes']:
                if footnote:
                    footnotes = footnotes + footnote['text'] + ','

            if 'M01' <= period <= 'M12':
                writer.writerow([seriesID,year,period,value,footnotes[0:-1]])
                
    iFile.close()  # good idea to close if you're done with it

#### Verify that it all worked as planned
Load in the last csv file written to verify things worked as we hoped

In [4]:
pd.read_csv(outfile)

      series_id  year period    value  footnotes
0   CUUR0000SA0  2014    M12  234.812        NaN
1   CUUR0000SA0  2014    M11  236.151        NaN
2   CUUR0000SA0  2014    M10  237.433        NaN
3   CUUR0000SA0  2014    M09  238.031        NaN
4   CUUR0000SA0  2014    M08  237.852        NaN
5   CUUR0000SA0  2014    M07  238.250        NaN
6   CUUR0000SA0  2014    M06  238.343        NaN
7   CUUR0000SA0  2014    M05  237.900        NaN
8   CUUR0000SA0  2014    M04  237.072        NaN
9   CUUR0000SA0  2014    M03  236.293        NaN
10  CUUR0000SA0  2014    M02  234.781        NaN
11  CUUR0000SA0  2014    M01  233.916        NaN
12  CUUR0000SA0  2013    M12  233.049        NaN
13  CUUR0000SA0  2013    M11  233.069        NaN
14  CUUR0000SA0  2013    M10  233.546        NaN
15  CUUR0000SA0  2013    M09  234.149        NaN
16  CUUR0000SA0  2013    M08  233.877        NaN
17  CUUR0000SA0  2013    M07  233.596        NaN
18  CUUR0000SA0  2013    M06  233.504        NaN
19  CUUR0000SA0  2013    M05  232.945        NaN
20  CUUR0000SA0  2013    M04  232.531        NaN
21  CUUR0000SA0  2013    M03  232.773        NaN
22  CUUR0000SA0  2013    M02  232.166        NaN
23  CUUR0000SA0  2013    M01  230.280        NaN
24  CUUR0000SA0  2012    M12  229.601        NaN
25  CUUR0000SA0  2012    M11  230.221        NaN
26  CUUR0000SA0  2012    M10  231.317        NaN
27  CUUR0000SA0  2012    M09  231.407        NaN
28  CUUR0000SA0  2012    M08  230.379        NaN
29  CUUR0000SA0  2012    M07  229.104        NaN
30  CUUR0000SA0  2012    M06  229.478        NaN
31  CUUR0000SA0  2012    M05  229.815        NaN
32  CUUR0000SA0  2012    M04  230.085        NaN
33  CUUR0000SA0  2012    M03  229.392        NaN
34  CUUR0000SA0  2012    M02  227.663        NaN
35  CUUR0000SA0  2012    M01  226.665        NaN
36  CUUR0000SA0  2011    M12  225.672        NaN
37  CUUR0000SA0  2011    M11  226.230        NaN
38  CUUR0000SA0  2011    M10  226.421        NaN
39  CUUR0000SA0  2011    M09  226.889        NaN
40  CUUR0000SA0  2011    M08  226.545        NaN
41  CUUR0000SA0  2011    M07  225.922        NaN
42  CUUR0000SA0  2011    M06  225.722        NaN
43  CUUR0000SA0  2011    M05  225.964        NaN
44  CUUR0000SA0  2011    M04  224.906        NaN
45  CUUR0000SA0  2011    M03  223.467        NaN
46  CUUR0000SA0  2011    M02  221.309        NaN
47  CUUR0000SA0  2011    M01  220.223        NaN